*{padding: 0;margin: 0;}
a{text-decoration: none;}
ul{list-style: none;}
em{font-style: normal;}
b{font-weight: normal;}
header{width: 100%;height: 105px;z-index: 3;position: absolute;}
nav{width: 100%;height: 56px;background-color: #25292e;overflow: hidden;}
#logo{display: block;float: left;width: 95px;height: 46px;background-image: url(../img/images.png);margin-left: 300px;margin-top: 9px;}
.navText{float: left;width: 450px;height: 56px;margin-left: 630px;}
.navText>span{display:inline-block;font-size: 12px; color: white;margin-top: 23px;}
.navText>span>a{color: #ccc;}
.navText>a{display:inline-block;font-size: 12px; color: #ccc;margin-top: 23px;}
.navText>em{color: #666;}
.navText>a.cur{padding:0 15px;color: #666;}
.goodsMajor{width: 1210px;height: 49px;margin-left: 200px;overflow: hidden;position: relative;background-color: white;}
.goodsMajor li{width: 96px;height: 49px;float: left;}
.goodsMajor li a{height: 45px;line-height: 45px;padding: 12px 32px;border-bottom: 4px solid #ededed;color: #333;}
.goodsMajor li a:hover{border-bottom: 4px solid #25292e;}
.serach{width: 250px;height: 45px;border-bottom: 4px solid #ededed;float: right;position: relative;}
#magnifier{display: block;width: 43px;height: 38px;background: url(../img/images.png) no-repeat -157px -147px;position: absolute;left: 207px;top: 5px;z-index: 2;cursor: pointer;}
.moveSerach{float:right;width: 250px;height: 45px;border:none;border-bottom: 4px solid #25292e;position: absolute;left:1210px;top:0;outline: none;}
#serachText{width: 190px;height: 45px;border:none;border-bottom: 4px solid #25292e;padding: 0 10px;outline: none;}
section{overflow: hidden;}
#detail{width: 1000px;margin-left: 300px;margin-top: 130px;}
#detail h6{width: 1000px;height: 30px;line-height: 30px;border-bottom: 1px solid #ccc;text-align: center;margin-top: 50px;}
.goods{width: 1000px;height: 433px;margin-top: 20px;}
.left{float: left;width: 433px;height: 433px;}
.right{float: left;width: 500px;height: 433px;margin-left: 67px;}
.right h2{width: 478px;margin-left: 22px;margin-top: 40px;font-size: 22px;color: #0c6eba;}
.right p{width: 478px;font-size: 18px;margin-top: 22px;margin-left: 22px;margin-bottom: 40px;font-weight: 700;}
.right span{display: block;width: 478px;;margin-left: 22px;font-size: 16px;}
.disc{width: 500px;height: 175px;}
.cart{width: 500px;height: 183px;margin-top: 75px;}
.cart button{width: 180px;height: 70px;padding: 15px 25px;border: none;outline: none;margin-top: 50px;font-size: 18px;cursor: pointer;}
#btn1{margin-left:40px;margin-right:55px;background-color: #FF0000;color: white;}
#btn2{background-color: #f40;color: white;}
