*{padding: 0;margin: 0;}
a{text-decoration: none;}
ul{list-style: none;}
em{font-style: normal;}
b{font-weight: normal;}
header{width: 100%;height: 105px;position: fixed;z-index: 3;}
nav{width: 100%;height: 56px;background-color: #25292e;overflow: hidden;}
#logo{display: block;float: left;width: 95px;height: 46px;background-image: url(../img/images.png);margin-left: 300px;margin-top: 9px;}
.navText{float: left;width: 450px;height: 56px;margin-left: 630px;}
.navText>span{display:inline-block;font-size: 12px; color: white;margin-top: 23px;}
.navText>span>a{color: #ccc;}
.navText>a{display:inline-block;font-size: 12px; color: #ccc;margin-top: 23px;}
.navText>em{color: #666;}
.navText>a.cur{padding:0 15px;color: #666;}
.goodsMajor{width: 1210px;height: 49px;margin-left: 200px;overflow: hidden;position: relative;background-color: white;}
.goodsMajor li{width: 96px;height: 49px;float: left;}
.goodsMajor li a{height: 45px;line-height: 45px;padding: 12px 32px;border-bottom: 4px solid #ededed;color: #333;}
.goodsMajor li a:hover{border-bottom: 4px solid #25292e;}
.serach{width: 250px;height: 45px;border-bottom: 4px solid #ededed;float: right;position: relative;}
#magnifier{display: block;width: 43px;height: 38px;background: url(../img/images.png) no-repeat -157px -147px;position: absolute;left: 207px;top: 5px;z-index: 2;cursor: pointer;}
.moveSerach{float:right;width: 250px;height: 45px;border:none;border-bottom: 4px solid #25292e;position: absolute;left:1210px;top:0;outline: none;}
#serachText{width: 190px;height: 45px;border:none;border-bottom: 4px solid #25292e;padding: 0 10px;outline: none;}
.showPic{width: 1000px;height: 475px;overflow: hidden;margin-left: 300px;position: relative;top: 133px;}
#autoPlay{width: 10000px;height: 475px;position: absolute;left: 0;top: 0;}
#autoPlay li{width: 1000px;height: 475px;float: left;}
.showPic em{display:none;background-color: rgba(0,0,0,0.5);}
#btnLeft{width: 50px;height: 50px;background-image: url(../img/normal_right.png);border-radius: 50%;position: absolute;top: 237px;left: 20px;cursor: pointer;}
#btnRight{width: 50px;height: 50px;background-image: url(../img/normal_left.png);border-radius: 50%;position: absolute;top: 237px;left: 930px;cursor: pointer;}
.showPic:hover #btnLeft{display: block;}
.showPic:hover #btnRight{display: block;}
.circles{width: 1000px;height: 25px;margin-left: 300px;position: relative;top: 130px;}
.circles ul{width: 208px;height: 5px; margin: 10px auto;}
.circles ul li{width: 20px;height: 5px;background-color: #e8e8e8;float: left;margin-left: 6px;cursor: pointer;}
.circles ul li.cur{background-color: #45494d;}
#classific{width: 1000px;margin-left: 300px;margin-top: 130px;}
#classific h6{width: 1000px;height: 30px;line-height: 30px;border-bottom: 1px solid #ccc;text-align: center;margin-top: 50px;}
#classificList{width: 1024px;margin-top: 40px;}
#classificList li{width: 317px;height: 380px;float: left;margin-right: 24px;margin-bottom: 30px;position: relative;}
#classificList li:hover .cover{display: block;}
#classificList li a img{width: 317px;height: 317px;}
.cover{width: 320px;height: 320px;background-color: rgba(72,72,72,0.9);display: none;position: absolute;left: 0;top: 0;}
.cover h2{margin-left: 22px;margin-top: 22px;margin-bottom: 90px;font-size: 22px;color: #0c6eba;}
.cover p{width: 245px;margin: 0 auto;font-size: 14px;margin-bottom: 10px;text-align: center;font-weight: 700;color: white;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.cover span{display: block;width: 265px;color: white;font-size: 12px;margin: 20px auto;text-align: center;}