*{padding: 0;margin: 0;}
a{text-decoration: none;}
ul{list-style: none;}
em{font-style: normal;}
b{font-weight: normal;}
header{width: 100%;height: 105px;position: fixed;z-index: 3;}
nav{width: 100%;height: 56px;background-color: #25292e;overflow: hidden;}
#logo{display: block;float: left;width: 95px;height: 46px;background-image: url(../img/images.png);margin-left: 300px;margin-top: 9px;}
.navText{float: left;width: 450px;height: 56px;margin-left: 630px;}
.navText>span{display:inline-block;font-size: 12px; color: white;margin-top: 23px;}
.navText>span>a{color: #ccc;}
.navText>a{display:inline-block;font-size: 12px; color: #ccc;margin-top: 23px;}
.navText>em{color: #666;}
.navText>a.cur{padding:0 15px;color: #666;}
.goodsMajor{width: 1210px;height: 49px;margin-left: 200px;overflow: hidden;position: relative;background-color: white;}
.goodsMajor li{width: 96px;height: 49px;float: left;}
.goodsMajor li a{height: 45px;line-height: 45px;padding: 12px 32px;border-bottom: 4px solid #ededed;color: #333;}
.goodsMajor li a:hover{border-bottom: 4px solid #25292e;}
.serach{width: 250px;height: 45px;border-bottom: 4px solid #ededed;float: right;position: relative;}
#magnifier{display: block;width: 43px;height: 38px;background: url(../img/images.png) no-repeat -157px -147px;position: absolute;left: 207px;top: 5px;z-index: 2;cursor: pointer;}
.moveSerach{float:right;width: 250px;height: 45px;border:none;border-bottom: 4px solid #25292e;position: absolute;left:1210px;top:0;outline: none;}
#serachText{width: 190px;height: 45px;border:none;border-bottom: 4px solid #25292e;padding: 0 10px;outline: none;}
section{overflow: hidden;}
.showPic{width: 1000px;height: 475px;margin-left: 300px;position: relative;top: 133px;background-image: url(../img/1063.gif);}
.item{width: 299px;height: 25px;margin: 165px auto 0;}
.item span{display: inline-block;width: 133px;height: 25px;line-height: 25px;text-align: center;color: #666;}
.item span.firstSpan{color: #7b93c4;}
.address{width: 1210px;;border-bottom: 2px solid #ccc;margin-left: 200px;margin-top: 45px;}
.address span{display: block;padding: 10px 20px;}
#goodsBox{width: 1210px;height: auto;border-bottom: 2px solid #ccc;border-top: 2px solid #ccc;margin-left: 200px;}
.goods{width: 1210px;height: 100px;border-bottom: 1px solid #ccc;}
.goods-box{float: left;width: 410px;height: 70px;padding: 15px 0;}
.goods-box img{width: 70px;height: 70px;margin-left: 5px;margin-right: 22px;float: left;}
.goods-box p{float: left;width: 220px;height: 70px;color: #666;font-size: 14px;display: table-cell;vertical-align: middle;}
.goods-lists{float: left;width: 50px;height: 70px;padding: 15px 0;font-size: 14px;}
.center-text{float: left;width: 27px;height: 10px;margin: 30px 0;outline: none;border: none;text-align: center;font-size: 14px;font-weight: 700;}
.goods-one{float: left;width: 100px;height: 70px;padding: 15px 0;text-align: center;font-weight: bold;line-height: 70px;margin-left: 150px;}
.goods-sum{float: left;width: 108px;height: 70px;padding: 15px 0;text-align: center;margin-left: 145px;font-weight: bold;line-height: 70px;}
.order-item{margin-top: 20px;}
.footTop{width: 100%;height: 247px;border-top: 1px solid #ccc;background-color: #fbfdfe;clear: both;position: relative;}
.footTop h4{width: 177px;height: 15px;background: url(../img/images.png) no-repeat 0 -417px;margin: 50px auto;}
#point{background: url(../img/images.png) no-repeat -173px -356px;position: absolute;top: 50px;left: 650px;width: 27px;height: 15px;}
.footPc{width: 100%;height: 165px;background-image: url(../img/footTop.png);margin-top: -30px;}
.foot{width: 100%;height: 223px;background-color: #25292e;border-bottom: 1px solid black;}
.wrap{width: 1210px;height: 223px;margin: 0 auto;}
.wrapLeft{width: 800px;height: 183px;padding-top: 40px;padding-left: 100px;float: left;}
.phone{width: 196px;height: 44px;padding-left: 60px;position: relative;cursor: pointer;}
.phonePc{width: 25px;height: 44px;position: absolute;left: 0px;background: url(../img/images.png) no-repeat -175px 0;}
.phoneQr{width: 200px;height: 120px;position: absolute;top:-170px;left: 0px;display: none;}
.phonerQrPc{width: 200px;height: 100px;background: url(../img/images.png) no-repeat 0 -47px;}
.phonerQrText{width: 200px;height: 20px;}
.phonerQrText b{display: inline-block;height: 20px;line-height: 20px;margin-right: 5px;font-size: 14px;}
.phone p{font-size: 14px;color: white;margin-bottom: 5px;opacity: 0.3;}
.phone span{font-size: 14px;color: white;opacity: 0.3;}
.friendly{width: 800px;height: 108px;margin-top: 20px;letter-spacing: 2px;}
.friendly p{font-size: 13px;color: #5c5c5c;margin-top: 3px;}
.friendly p a{font-size: 13px;color: white;opacity: 0.3;padding: 0 10px;border-right: 1px solid #5c5c5c;}
.friendly p a.lastA{border: none;}
.friendly p a.firstA{padding-left: 0;}
.wrapRight{width: 200px;height: 30px;padding-top: 40px;float: left;}
.wrapRight ul{width: 200px;height: 30px;position: relative;}
.wrapRight ul li{float: right;margin-left: 27px;}
.wechat{width: 25px;height: 19px;background: url(../img/images.png) no-repeat -100px 0;}
.wechat:hover{background-position-y: -24px;}
.dou{width: 18px;height: 19px;background: url(../img/images.png) no-repeat -129px 0;}
.dou:hover{background-position-y: -24px;}
.weibo{width: 23px;height: 19px;background: url(../img/images.png) no-repeat -150px 0;}
.weibo:hover{background-position-y: -24px;}
.wechatQr{width: 145px;height: 145px;background: url(../img/images.png) no-repeat 0 -148px;position: absolute;left: 20px;top: -185px;display: none;}